.Alert {
  line-height: 1.5;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
}

.Alert--error {
  background-color: red;
}

.Alert--waring {
  background-color: orange;
}

.Alert--success {
  background-color: green;
}
